::v-deep .tiptap-vuetify-editor__content {
  height: 100%;
  .ProseMirror {
    min-height: 150px;
    max-height: 250px;
    margin: 0 !important;
    padding: 0 15px !important;

    p {
      margin-top: 8px !important;
      margin-bottom: 8px !important;
    }
  }
}

.is-active {
  background-color: #bbbbbb;
}

::v-deep .variable {
  background: #8f201b;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.2rem 0.2rem;
  white-space: nowrap;
}

::v-deep .tiptap-vuetify-editor {
  &:hover .tiptap-vuetify-editor__toolbar {
    display: block;
  }
}

::v-deep .tiptap-vuetify-editor .tiptap-vuetify-editor__content {
  padding: 0 !important;
  border: 1px solid #9e9e9e !important;
}

::v-deep .tiptap-vuetify-editor .tiptap-vuetify-editor__content .ProseMirror {
  min-height: 20px !important;
}

::v-deep
  .tiptap-vuetify-editor__content
  p.tiptap-vuetify-editor__paragraph--is-empty:first-child:before {
  color: #666;
  font-style: normal;
  font-size: 16px;
}

::v-deep .tiptap-vuetify-editor__toolbar {
  display: none;
  position: absolute;
  right: 0;
  z-index: 1;
  top: 20%;
}
