.dropzone-custom-content {
  border: 1px solid black !important;
  border-style: dashed !important;
}

.blur-drop-zone {
  border: 1px solid #2be076 !important;
  border-style: dashed !important;
  background: #e4fddb !important;
}

.center-info {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
