$color-s1: #2e2e2f;
$color-s2: #d7d7d7;
$color-s3: #9d9d9e;
$color-s4: #881414;
$color-s5: #a64f4f;
$color-s7: #12657e;
$color-s8: #cd9b9b;
$color-s9: #5a8c9b;
$color-s10: #05956f;
$color-s11: #121271;

$color-c1: #881414;
$color-c2: #973131;
$color-c3: #a64f4f;
$color-c4: #d2a7a7;
$color-c5: #e1c4c4;
$color-c6: #f0e2e2;
$color-c7: #2e2e2f;
$color-c8: #9d9d9e;
$color-c9: #c4c4c4;
$color-c10: #c4c4c480;
$color-c11: #c4c4c44b;

$color-primary: #2e2e2f;
$color-secondary: #881414;
$color-error: #881414;
$color-succes: #396a5d;
$color-accent: #121271;
$color-info: #12657e;
$color-warning: #f08931;
