.title-password {
  font-weight: $font-semibold;
  font-size: 1.8rem;
}

.text-password {
  font-weight: $font-semibold;
  font-size: 0.9rem;
  width: 60%;
  text-align: center;
}

.inputs-user-settings {
  width: 50%;
}
